<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cone Web-Server.</title>
</head>
<body>
    <header>
        <h1>Web-Server</h1>
    </header>
    <main>
        <section>
            <h2> <%= locals.users || "Can Not Fetch user" %></h2>
        </section>
    </main>
    
</body>
</html>